/* General */
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #16202a;
}

.inactive {
  display: none;
}

.navbar {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-menu img {
  width: 13%;
  height: auto;
}

.logo {
  float: left;
}

.message-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.menu {
  background-color: #f9fd6d;
  border-radius: 50px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border-color: #ffffff;
  background-color: #16202a;
}

textarea {
  padding: 10px;
  width: 97%;
  height: 80px;
  border-radius: 25px;
  border-color: #ffffff;
  background-color: #16202a;
}

.cuerpo {
  color: #f9fd6d;
  margin: 0 15px;
}

button {
  float: right;
  font-size: 50px;
  border-radius: 30px;
  font-weight: bold;
}
