/* General */
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  background-color: #16202a;
}

/* encabezado barra de navegacion */
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li {
  float: right;
}

header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header ul li a:hover:not(.active) {
  background-color: #111;
}

.logo {
  max-height: 80px;
  width: auto;
}
.message-menu img {
  width: auto;
  max-height: 60px;
  object-fit: contain;
}

.menu {
  background-color: #f9fd6d;
  border-radius: 50%;
}

/* parte inactiva no mostrada */

.inactive {
  display: none;
}

/* cuerpo principal del documento */

.cuerpo {
  color: #f9fd6d;
  margin: 0 auto;
  width: 60%;
}

label {
  display: block;
  margin: 5px 0;
  padding: 5px 0;
}

input {
  display: block;
  margin: 5px 0;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border-color: #ffffff;
  background-color: #16202a;
}

textarea {
  margin: 5px 0;
  padding: 10px;
  width: 97%;
  height: 80px;
  border-radius: 25px;
  border-color: #ffffff;
  background-color: #16202a;
}

/* Boton */
button {
  display: block;
  float: right;
  font-size: 25px;
  width: 30%;
  border-radius: 30px;
  font-weight: bold;
  margin: 5px;
  padding: 15px;
  color: #16202a;
}
