/* General */
:root {
  --white: #ffffff;
  --black: #000000;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* Navbar (general) */
nav {
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: right;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

/* Pocision de la imagen*/
.logo {
  text-align: center;
  background: linear-gradient(var(--white), var(--black));
  /* background-color: #1a2230; */
  margin: 0 100px;
  height: 100hv;
}

.logo img {
  /* object-fit: cover; */
  max-width: 98%;
  height: auto;
}

/* centrado del texto */
.logo p {
  font-size: 50px;
  color: var(--white);
  font-weight: bold;
}
