/* General */
:root {
  --white: #ffffff;
  --black: #000000;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* Navbar (general) */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: right;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

/* Pocision de la imagen */
.logo {
  text-align: center;
}

.logo img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
